.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    background-color: #fff;
    z-index: 999;
  }
  
  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: black;
    color: #eee;
    border-color:white;
  }
  
  .pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: white;
    color: #101010;
  }
  