.banner-container {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('https:/images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-blend-mode: overlay;
    align-items: center;
    color:rgb(247, 238, 238);
}
.row-container {
  display: flex;
  align-items: center;
  border: solid black 1px;
  background-color: rgb(199, 231, 231);
}


.pointer-icon{
    position: absolute;
    right: 10%;

  }

  .pointer-icon:hover{
    cursor: pointer;
  }

  .FaPlusIcon {
    cursor: pointer;
  }

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-top:20px;
   
}

.icon-container p {
  margin-top: 0;
}

.heading-container {
  margin-right: 15%;
  flex-grow: 1;
}

button
{
    border-radius: 10px;
    cursor: pointer;
    background-color:black;
    color:white;
    height: 40px;
    padding:5px;
}
.heading{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(75, 70, 70);
    color:black;
   
    /* font-size:20px; */
}
.alignright{
    top:5%;
    left:5%;
    position:absolute;
    
}
.align{
    top:5%;
    left:79%;
    position:absolute;
}
.cardu{
   /* height:200px; */
   width:200px;
   background:rgb(139, 200, 209);
   box-shadow: 3px 3px 2px 3px rgb(240, 235, 235);
   font-weight:600;
   padding:20px;
   
}
.addbox{
    width:150px;
}
.space{
    
    width:60px;
    border-width:0px;
    height:30px;
}
.footerposition{
    top:95%;
    position:fixed;
    left:40%;
    
}
.projectmain{
    background-image:url('https://th.bing.com/th/id/OIP.54aDRJHlX7jC15ANjLWg-QHaEo?pid=ImgDet&rs=1') ;
}
.addprojectbt{
    border-width:0px;
    padding:10px;
    background: black;
    color: #eee;
    border-color:white;
    transition: all 0.3s ease;
}
.copyrights{
    color:black;
}