.banner-container {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('https:/images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-blend-mode: overlay;
    align-items: center;
    color:rgb(247, 238, 238);
}

button
{
    border-radius: 10px;
    cursor: pointer;
    background-color:black;
    color:white;
    height: 40px;
    padding:5px;
}
.heading{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(75, 70, 70);
    color:black;
   
    /* font-size:20px; */
}
.alignright{
    top:5%;
    left:5%;
    position:absolute;
    
}
.align{
    top:5%;
    left:79%;
    position:absolute;
}
.cardu{
   /* height:200px; */
   width:200px;
   background:rgb(139, 200, 209);
   box-shadow: 3px 3px 2px 3px rgb(240, 235, 235);
   font-weight:600;
   padding:20px;
   
}
.addbox{
    width:150px;
}
.space{
    
    width:60px;
    border-width:0px;
    height:30px;
}
.footerposition{
    top:95%;
    position:fixed;
    left:40%;
    
}
.projectmain{
    background-image:url('https://th.bing.com/th/id/OIP.54aDRJHlX7jC15ANjLWg-QHaEo?pid=ImgDet&rs=1') ;
}
.addprojectbt{
    border-width:0px;
    padding:10px;
    background: black;
    color: #eee;
    border-color:white;
    transition: all 0.3s ease;
}
.copyrights{
    color:black;
}

.validations{
    color: red;
}

.App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .seperator {
    width: 90%;
  }
  
  .controls-wrapper {
    width: 100%;
  }
  
  .carousel-wrapper {
    width: 80%;
  }
  
  .rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 0px rgb(139, 200, 209);
  }
  /* carousel.css */

.carousel-wrapper .rec.rec-arrow {
    background-color: #f0f0f0;
    color: #333; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    font-size: 24px; 
  }
  
  .carousel-wrapper .rec.rec-arrow:hover {
    background-color: #131212; 
    color: #000; 
  }
  /* carousel.css */

.carousel-wrapper .rec-pagination .rec-dot {
    background-color: #bbb; /* Set the background color of the dot */
    width: 10px; /* Set the width of the dot */
    height: 10px; /* Set the height of the dot */
    border-radius: 50%; /* Make the dot circular */
    margin: 5px; /* Set the margin around the dot */
    transition: background-color 0.3s ease; /* Add a smooth transition for the background color */
  }
  
  .carousel-wrapper .rec-pagination .rec-dot:hover {
    background-color: #888; /* Set the background color of the dot on hover */
  }
  