.left-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 9%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  /* border: 2px solid white; */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid white;
  text-align: center;
  width: 100%;
}

.nav-item:hover {
  background-color: #333;
}

.nav-icon {
  color: #fff;
  font-size: 20px;
  justify-items: center;
  padding-bottom: 8px;
  height: 28px;
  width: 28px;
}

.nav-text {
  color: aliceblue;
  justify-content: center;
}


